<% provide(:title, "事業所登録") %>
<% provide(:btn_text, "登録") %>

<div class="card">
  <div class="card-body">
    <%= form_with model: @business, url: users_businesses_path, method: :post, local: true do |f| %>
      <%= render partial: "form", locals: { f: f } %>
  </div>
  <div class="card-footer">
      <%= f.submit yield(:btn_text), class: "btn btn-primary" %>
  </div>
    <% end %>
</div>