<% provide(:title, '目次') %>

<div class="card">
  <div class="card-body"></div>
  <div class="card-footer">
    <%= link_to '書類一覧に戻る', users_request_order_documents_path, class: "btn btn-block btn-outline-secondary" %>
    <%= link_to "PDF出力", users_request_order_document_path(format: :pdf), target: :_blank, rel: "noopener noreferrer", class: "btn btn-md btn-block btn-default" %>
  </div>
</div>

<div class="document-outer">
  <div id="tod_p1" class="document-inner">
    <div class="tod_text-container col-10 offset-1">
      <table class="table table-bordered tod_s1">
        <tbody>
          <tr>
            <td class="tod_s1"></td>
            <td class="tod_s1" colspan="2">書類名</td>
            <td class="tod_s1">仕様</td>
            <td class="tod_s1" style="width: 12%">提出年月日</td>
            <td class="tod_s1" style="width: 12%">確認</td>
          </tr>
          <tr>
            <td class="tod_s1">1</td>
            <td class="tod_s3"></td>
            <td class="tod_s3">表紙</td>
            <td class="tod_s4">A4</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td class="tod_s1">2</td>
            <td class="tod_s3"></td>
            <td class="tod_s3">目次・チェック欄</td>
            <td class="tod_s4">A4</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td class="tod_s1">3</td>
            <td class="tod_s3">全建統一様式 第2号</td>
            <td class="tod_s3">施工体制台帳作成建設工事の通知</td>
            <td class="tod_s4">A4</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td class="tod_s1">4</td>
            <td class="tod_s3">全建統一様式 第3号</td>
            <td class="tod_s3">施工体制台帳</td>
            <td class="tod_s4">A4</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td class="tod_s1">5</td>
            <td class="tod_s3">全建統一様式 第１号-甲</td>
            <td class="tod_s3">再下請負通知書（変更届）</td>
            <td class="tod_s4">A4</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td class="tod_s1">6</td>
            <td class="tod_s3"></td>
            <td class="tod_s3">安全衛生管理に関する契約書(一次会社用)</td>
            <td class="tod_s4">A4</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td class="tod_s1">7</td>
            <td class="tod_s3"></td>
            <td class="tod_s3">安全衛生管理に関する契約書(再下請会社用)</td>
            <td class="tod_s4">A4</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td class="tod_s1">8</td>
            <td class="tod_s3">全建統一様式 第5号</td>
            <td class="tod_s3">作業員名簿</td>
            <td class="tod_s4">A4</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td class="tod_s1">9</td>
            <td class="tod_s3">全建統一様式・参考様式 第8号</td>
            <td class="tod_s3">(工事・通勤)用車両届</td>
            <td class="tod_s4">A4</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td class="tod_s1">10</td>
            <td class="tod_s3">全建統一様式 第1号-甲-別紙</td>
            <td class="tod_s3">外国人建設就労者建設現場入場届出書</td>
            <td class="tod_s4">A4</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td class="tod_s1">11</td>
            <td class="tod_s3"></td>
            <td class="tod_s3">高年齢者作業申告書</td>
            <td class="tod_s4">A4</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td class="tod_s1">12</td>
            <td class="tod_s3"></td>
            <td class="tod_s3">年少者就労報告書</td>
            <td class="tod_s4">A4</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td class="tod_s1">13</td>
            <td class="tod_s3">全建統一様式 第9号</td>
            <td class="tod_s3">移動式クレーン / 車両系建設機械等使用届</td>
            <td class="tod_s4">A4</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td class="tod_s1">14</td>
            <td class="tod_s3">全建統一様式 第10号</td>
            <td class="tod_s3">持込機械等(電動工具/電気溶接機等)使用届</td>
            <td class="tod_s4">A4</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td class="tod_s1">15</td>
            <td class="tod_s3">全建統一様式 第11号</td>
            <td class="tod_s3">有機溶剤・特定化学物質等持込使用届</td>
            <td class="tod_s4">A4</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td class="tod_s1">16</td>
            <td class="tod_s3"></td>
            <td class="tod_s3">化学物質を取り扱う作業のリスクアセスメント</td>
            <td class="tod_s4">A4</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td class="tod_s1">17</td>
            <td class="tod_s3">全建統一様式・参考様式 第9号</td>
            <td class="tod_s3">火気使用届</td>
            <td class="tod_s4">A4</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td class="tod_s1">18</td>
            <td class="tod_s3">全建統一様式 第1号-乙</td>
            <td class="tod_s3">下請負業者編成表</td>
            <td class="tod_s4">A4</td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
