<% provide(:title,  "お知らせ一覧") %>
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <% @news_all.each do |news| %>
      <ul>
        <li><%= link_to news.title, users_news_path(news) %></li>
        <li><%= news.content %></li>
        <li>配信日: <%= l(news.delivered_at, format: :long) %></li>
        <li>公開状態: <%= news.status %></li>
      </ul>
      <% end %>
    </div>
    <!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
