<% provide(:title,  "お知らせ一覧") %>
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <% @news_all.each do |news| %>
        <table class='table card card-body'>
          <tbody>
            <tr class="card bg-light"><td><%= link_to news.title, users_news_path(news) %></td></tr>
            <tr class="card"><td>配信日: <%= l(news.delivered_at, format: :long) %></td></tr>
          </tbody>
        </table>
      <% end %>
      <%= paginate @news_all %>
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
