<% provide(:title, "車両情報登録") %>
<% provide(:btn_text, "登録") %>

<div class="card">
  <div class="card-body">
    <%= form_with model: @car, url: users_cars_path, method: :post, local: true, class: "car-form-validation" do |f| %>
      <%= render partial: "form", locals: { f: f, car: @car } %>
      
      <%= f.submit yield(:btn_text), class: "btn btn-md btn-block btn-primary" %>
      <%= link_to "一覧画面へ", users_cars_path, class: "btn btn-md btn-block btn-default" %>
    <% end %>
  </div>
</div>
