<body style="font-family: Noto Sans JP, Hiragino Kaku Gothic ProN, Meiryo, sans-serif;">
  <div>
    <div id="p1">
      <div class="text-container">
        <span id="t1_1" class="t s1 a1">元請確認欄 </span>
        <span id="t1_1" class="t s1 a3"> </span>
        <span id="t2_1" class="t s2">施工体制・安全衛生関係提出書類 </span>
        <span id="t3_1" class="t s3">提出会社名 </span>
        <span id="t4_1" class="t s4"><%= @document.content["business_name"] %></span>
        <span id="t5_1" class="t s5">1-1 </span>
        <span id="t6_1" class="t s5">提出日（初回） </span>
        <span id="t6_1" class="t s5 a2"></span>
        <span id="t7_1" class="t s4"><%= @document.content["submitted_on"] %></span>
        <span id="t8_1" class="t s5">1-2 </span>
      </div>
    </div>
  </div>
</body>

<style>
.t {
  transform-origin: bottom left;
  z-index: 2;
  position: absolute;
  white-space: pre;
  overflow: visible;
  line-height: 1.5;
}

.text-container {
  white-space: pre;
}

@supports (-webkit-touch-callout: none) {
  .text-container {
    white-space: normal;
  }
}

#p1 {
  overflow: hidden;
  position: relative;
  background-color: white;
  width: 909px;
  height: 1286px;
}

#t1_1 {
  left: 164px;
  bottom: 432px;
  letter-spacing: 0.65px;
  padding: 8px;
}

#t2_1 {
  left: 198px;
  bottom: 989px;
  letter-spacing: -0.07px;
}

#t3_1 {
  left: 164px;
  bottom: 592px;
  letter-spacing: 0.84px;
}

#t4_1 {
  left: 455px;
  bottom: 584px;
  letter-spacing: -0.12px;
}

#t5_1 {
  left: 590px;
  bottom: 584px;
  letter-spacing: -0.07px;
}

#t6_1 {
  left: 372px;
  bottom: 518px;
  letter-spacing: -0.12px;
}

#t7_1 {
  left: 530px;
  bottom: 519px;
  letter-spacing: -0.12px;
}

#t8_1 {
  left: 681px;
  bottom: 519px;
  letter-spacing: -0.07px;
}

.a1 {
  border: 1px solid #333333;
  width: 550px;
}

.a2 {
  border-bottom: 1px solid #333333;
  width: 340px;
}

.a3 {
  border-right: 1px solid #333333;
  width: 200px;
}

.s1 {
  font-size: 21px;
  color: #000;
}

.s2 {
  font-size: 34px;
  color: #000;
}

.s3 {
  font-size: 21px;
  color: #000;
}

.s4 {
  font-size: 17px;
  color: #15C;
}

.s5 {
  font-size: 17px;
  color: #000;
}
</style>
