<div class="container">
  <h1>書類一覧</h1>
  <% @documents.each do |document| %>
    <%= link_to users_document_path(document) do %>
      <p>書類番号: <%= document.id %></p>
    <% end %>
  <% end %>
</div>
