<div class="card">
  <div class="card-body"></div>
  <div class="card-footer">
    <%= link_to '編集', edit_users_request_order_document_path(params[:request_order_uuid], document), class: "btn btn-block btn-outline-dark" %>
    <%= link_to '書類一覧に戻る', users_request_order_documents_path, class: "btn btn-block btn-outline-secondary" %>
    <%= link_to "PDF出力",
      (
        controller.controller_path == 'users/documents' ?
        users_request_order_document_path(params[:request_order_uuid], document, format: :pdf) :
        users_request_order_sub_request_order_document_path(params[:request_order_uuid], params[:sub_request_order_uuid], document, format: :pdf)
      ),
      target: :_blank,
      rel: "noopener noreferrer",
      class: "btn btn-md btn-block btn-default" %>
  </div>
</div>