<% provide(:title,  "DashBoard") %>
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <%= link_to "事業所詳細画面へ", users_business_path, class: "btn btn-lg byn-block btn-outline-primary" %>
    </div>
    <!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
