<% provide(:title, "その他ユーザー登録") %>
<% provide(:btn_text, "登録") %>

<div class="card">
  <div class="card-body">
    <%= form_with model: @general_user, url: users_general_user_path, method: :patch, local: true do |f| %>
      <%= render partial: "form", locals: { f: f, general_user: @general_user } %>
    <% end %>
  </div>
</div>