<% provide(:title, "その他ユーザー登録") %>
<% provide(:btn_text, "登録") %>

<div class="card">
  <div class="card-body">
    <%= form_with model: @general_user, url: users_general_users_path, method: :post, local: true do |f| %>
      <%= render partial: "form", locals: { f: f, business: @business } %>
      
      <%= f.submit yield(:btn_text), class: "btn btn-md btn-block btn-primary" %>
      <%= link_to "一覧画面へ", users_general_users_path, class: "btn btn-md btn-block btn-default" %>
    <% end %>
    <br>
  </div>
</div>
