<body style="margin: 0;">
  <div id="sd_p1" style="overflow: hidden; position: relative; background-color: white; width: 909px; height: 1286px;">
    <%# Copied from the orignal doc after conversion from XLSX to HTML %>
    <div class="ritz grid-container" dir="ltr">
      <table class="waffle no-grid td-no-border" cellspacing="0" cellpadding="0">
        <thead></thead>
        <tbody>
          <tr style="height: 31px">
            <td class="s0" colspan="6">参考様式第８号</td>
            <td class="s1"></td>
            <td class="s1"></td>
            <td class="s1"></td>
            <td class="s1"></td>
            <td class="s2"></td>
            <td class="s2"></td>
            <td class="s2"></td>
            <td class="s2"></td>
            <td class="s2"></td>
            <td class="s2"></td>
            <td class="s2"></td>
            <td class="s2"></td>
            <td class="s2"></td>
            <td class="s2"></td>
            <td class="s2"></td>
            <td class="s2"></td>
            <td class="s2"></td>
            <td class="s2"></td>
            <td class="s3"></td>
            <td class="s4" colspan="3" rowspan="2">
              元 請<br />
              確認欄
            </td>
            <td class="s5" dir="ltr" colspan="8" rowspan="2">
              「元請会社の確認欄」12-001
            </td>
          </tr>
          <tr style="height: 31px">
            <td class="s1"></td>
            <td class="s1"></td>
            <td class="s1"></td>
            <td class="s1"></td>
            <td class="s1"></td>
            <td class="s1"></td>
            <td class="s1"></td>
            <td class="s1"></td>
            <td class="s1"></td>
            <td class="s1"></td>
            <td class="s2"></td>
            <td class="s2"></td>
            <td class="s2"></td>
            <td class="s2"></td>
            <td class="s2"></td>
            <td class="s2"></td>
            <td class="s2"></td>
            <td class="s2"></td>
            <td class="s2"></td>
            <td class="s2"></td>
            <td class="s2"></td>
            <td class="s2"></td>
            <td class="s2"></td>
            <td class="s2"></td>
            <td class="s3"></td>
          </tr>
          <tr style="height: 31px">
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s7"></td>
            <td class="s8"></td>
            <td class="s9"></td>
            <td class="s10"></td>
            <td class="s10"></td>
            <td class="s10"></td>
            <td class="s10"></td>
            <td class="s10"></td>
            <td class="s10"></td>
            <td class="s10"></td>
            <td class="s10"></td>
          </tr>
          <tr style="height: 31px">
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s7"></td>
            <td class="s8"></td>
            <td class="s9"></td>
            <td class="s11" dir="ltr" colspan="8">「提出日（西暦）」12-002</td>
          </tr>
          <tr style="height: 31px">
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s12" colspan="5" rowspan="2">工 事</td>
            <td class="s12" colspan="7" rowspan="4">用 車 両 届</td>
            <td class="s13"></td>
            <td class="s13"></td>
            <td class="s13"></td>
            <td class="s13"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s2"></td>
            <td class="s2"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
          </tr>
          <tr style="height: 31px">
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s14" colspan="5" rowspan="2"></td>
            <td class="s1"></td>
            <td class="s13"></td>
            <td class="s13"></td>
            <td class="s13"></td>
            <td class="s13"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s2"></td>
            <td class="s2"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
          </tr>
          <tr style="height: 31px">
            <td class="s1"></td>
            <td class="s1"></td>
            <td class="s1"></td>
            <td class="s1"></td>
            <td class="s1"></td>
            <td class="s1"></td>
            <td class="s1"></td>
            <td class="s12" colspan="5" rowspan="2">通 勤</td>
            <td class="s13"></td>
            <td class="s13"></td>
            <td class="s13"></td>
            <td class="s13"></td>
            <td class="s15"></td>
            <td class="s15"></td>
            <td class="s15"></td>
            <td class="s15"></td>
            <td class="s15"></td>
            <td class="s15"></td>
            <td class="s15"></td>
            <td class="s15"></td>
          </tr>
          <tr style="height: 31px">
            <td class="s1"></td>
            <td class="s1"></td>
            <td class="s1"></td>
            <td class="s1"></td>
            <td class="s1"></td>
            <td class="s1"></td>
            <td class="s1"></td>
            <td class="s1"></td>
            <td class="s1"></td>
            <td class="s1"></td>
            <td class="s1"></td>
            <td class="s1"></td>
            <td class="s13"></td>
            <td class="s13"></td>
            <td class="s13"></td>
            <td class="s13"></td>
            <td class="s15"></td>
            <td class="s15"></td>
            <td class="s15"></td>
            <td class="s15"></td>
            <td class="s15"></td>
            <td class="s15"></td>
            <td class="s15"></td>
            <td class="s15"></td>
          </tr>
          <tr style="height: 31px">
            <td class="s2"></td>
            <td class="s2"></td>
            <td class="s2"></td>
            <td class="s2"></td>
            <td class="s2"></td>
            <td class="s2"></td>
            <td class="s2"></td>
            <td class="s2"></td>
            <td class="s2"></td>
            <td class="s2"></td>
            <td class="s2"></td>
            <td class="s2"></td>
            <td class="s2"></td>
            <td class="s2"></td>
            <td class="s2"></td>
            <td class="s2"></td>
            <td class="s2"></td>
            <td class="s2"></td>
            <td class="s2"></td>
            <td class="s2"></td>
            <td class="s2"></td>
            <td class="s2"></td>
            <td class="s2"></td>
            <td class="s2"></td>
            <td class="s2"></td>
            <td class="s2"></td>
            <td class="s2"></td>
            <td class="s2"></td>
            <td class="s2"></td>
            <td class="s2"></td>
            <td class="s2"></td>
            <td class="s2"></td>
            <td class="s2"></td>
            <td class="s2"></td>
            <td class="s2"></td>
            <td class="s2"></td>
          </tr>
          <tr style="height: 31px">
            <td class="s9" colspan="4" rowspan="2">事業所の名称</td>
            <td class="s16" dir="ltr" colspan="13" rowspan="2">
              「事業所名」12-004
            </td>
            <td class="s8"></td>
            <td class="s8"></td>
            <td class="s9" colspan="5" rowspan="2">一次会社名</td>
            <td class="s16" dir="ltr" colspan="12" rowspan="2">
              「一次会社名」12-006
            </td>
          </tr>
          <tr style="height: 31px">
            <td class="s8"></td>
            <td class="s8"></td>
          </tr>
          <tr style="height: 31px">
            <td class="s9" colspan="4" rowspan="2">所　長　名</td>
            <td class="s17" dir="ltr" colspan="11" rowspan="2">
              「各会社の現場代理人名」12-005
            </td>
            <td class="s16" colspan="2" rowspan="2">殿</td>
            <td class="s8"></td>
            <td class="s8"></td>
            <td class="s9" colspan="5">使用会社名</td>
            <td class="s16" dir="ltr" colspan="12" rowspan="2">
              自社の「会社名」12-008
            </td>
          </tr>
          <tr style="height: 31px">
            <td class="s8"></td>
            <td class="s8"></td>
            <td class="s9">（</td>
            <td class="s18" dir="ltr" colspan="3">「〇次」12-7</td>
            <td class="s9">）</td>
          </tr>
          <tr style="height: 31px">
            <td class="s7"></td>
            <td class="s7"></td>
            <td class="s7"></td>
            <td class="s7"></td>
            <td class="s7"></td>
            <td class="s7"></td>
            <td class="s7"></td>
            <td class="s7"></td>
            <td class="s7"></td>
            <td class="s7"></td>
            <td class="s7"></td>
            <td class="s7"></td>
            <td class="s7"></td>
            <td class="s7"></td>
            <td class="s8"></td>
            <td class="s8"></td>
            <td class="s8"></td>
            <td class="s8"></td>
            <td class="s8"></td>
            <td class="s9" colspan="5">現場代理人</td>
            <td class="s17" dir="ltr" colspan="10" rowspan="2">
              「各会社の現場代理人」12-009
            </td>
            <td class="s19" dir="ltr" colspan="2" rowspan="2">㊞12-010</td>
          </tr>
          <tr style="height: 31px">
            <td class="s7"></td>
            <td class="s7"></td>
            <td class="s7"></td>
            <td class="s7"></td>
            <td class="s7"></td>
            <td class="s7"></td>
            <td class="s7"></td>
            <td class="s7"></td>
            <td class="s7"></td>
            <td class="s7"></td>
            <td class="s7"></td>
            <td class="s7"></td>
            <td class="s7"></td>
            <td class="s7"></td>
            <td class="s8"></td>
            <td class="s8"></td>
            <td class="s8"></td>
            <td class="s8"></td>
            <td class="s8"></td>
            <td class="s9" colspan="5">（現場責任者）</td>
          </tr>
          <tr style="height: 31px">
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s20"></td>
            <td class="s20"></td>
            <td class="s20"></td>
            <td class="s20"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s2"></td>
            <td class="s2"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
          </tr>
          <tr style="height: 31px">
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s21" colspan="9"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s2"></td>
            <td class="s2"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
          </tr>
          <tr style="height: 31px">
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s22" colspan="4">下記の通り</td>
            <td class="s22" colspan="6">（　工事・通勤　）用</td>
            <td class="s22" colspan="12">
              車両を運行しますので、お届けいたします。
            </td>
            <td class="s6"></td>
            <td class="s2"></td>
            <td class="s2"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
          </tr>
          <tr style="height: 31px">
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s2"></td>
            <td class="s2"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
          </tr>
          <tr style="height: 31px">
            <td class="s23"></td>
            <td class="s23"></td>
            <td class="s23"></td>
            <td class="s23"></td>
            <td class="s23"></td>
            <td class="s23"></td>
            <td class="s23"></td>
            <td class="s23"></td>
            <td class="s23"></td>
            <td class="s23"></td>
            <td class="s23"></td>
            <td class="s23"></td>
            <td class="s23"></td>
            <td class="s23"></td>
            <td class="s23"></td>
            <td class="s23"></td>
            <td class="s23"></td>
            <td class="s23"></td>
            <td class="s23"></td>
            <td class="s23"></td>
            <td class="s23"></td>
            <td class="s23"></td>
            <td class="s23"></td>
            <td class="s23"></td>
            <td class="s23"></td>
            <td class="s23"></td>
            <td class="s24"></td>
            <td class="s24"></td>
            <td class="s23"></td>
            <td class="s23"></td>
            <td class="s23"></td>
            <td class="s23"></td>
            <td class="s23"></td>
            <td class="s23"></td>
            <td class="s23"></td>
            <td class="s23"></td>
          </tr>
          <tr style="height: 31px">
            <td class="s4" colspan="6" rowspan="2">使用期間</td>
            <td class="s17" dir="ltr" colspan="14" rowspan="2">
              各車両の「使用期間・始期（西暦）」12-012
            </td>
            <td class="s17" colspan="2" rowspan="2">～</td>
            <td class="s25" dir="ltr" colspan="14" rowspan="2">
              「各車両の使用期間・終期（西暦）」12-013
            </td>
          </tr>
          <tr style="height: 31px">
          </tr>
          <tr style="height: 31px">
            <td class="s4" colspan="6" rowspan="2">所有者氏名</td>
            <td class="s25" dir="ltr" colspan="13" rowspan="2">
              各車両の「車両所有者名」12-014
            </td>
            <td class="s26" colspan="5">安全運転</td>
            <td class="s25" colspan="12" rowspan="2">
              各車両の「安全運転管理者」12-015
            </td>
          </tr>
          <tr style="height: 31px">
            <td class="s25" colspan="5">管理者氏名</td>
          </tr>
          <tr style="height: 31px">
            <td class="s25" rowspan="4">車 両</td>
            <td class="s4" colspan="5" rowspan="2">型式</td>
            <td class="s25" colspan="13" rowspan="2">
              各車両の「車両型式」12-016
            </td>
            <td class="s25" colspan="5" rowspan="2">車両番号</td>
            <td class="s25" colspan="12" rowspan="2">
              各車両の「車両番号」12-017
            </td>
          </tr>
          <tr style="height: 31px">
          </tr>
          <tr style="height: 31px">
            <td class="s4" colspan="5" rowspan="2">車検期間</td>
            <td class="s17" colspan="14" rowspan="2">
              各車両の「車検期間・始期（西暦）」12-018
            </td>
            <td class="s27" colspan="2" rowspan="2">～</td>
            <td class="s25" colspan="14" rowspan="2">
              各車両の「車検期間・終期（西暦）」12-019
            </td>
          </tr>
          <tr style="height: 31px">
          </tr>
          <tr style="height: 31px">
            <td class="s25" rowspan="6">運 転 者</td>
            <td class="s4" colspan="5" rowspan="2">氏名</td>
            <td class="s25" colspan="13" rowspan="2">
              作業員情報の「氏名」12-020
            </td>
            <td class="s25" colspan="5" rowspan="2">生年月日</td>
            <td class="s25" colspan="12" rowspan="2">
              作業員情報の「生年月日」12-021
            </td>
          </tr>
          <tr style="height: 31px">
          </tr>
          <tr style="height: 31px">
            <td class="s4" colspan="5" rowspan="2">住所</td>
            <td class="s25" colspan="30" rowspan="2">
              作業員情報の「住所」12-022
            </td>
          </tr>
          <tr style="height: 31px">
          </tr>
          <tr style="height: 31px">
            <td class="s4" colspan="5" rowspan="2">免許の種類</td>
            <td class="s25" colspan="13" rowspan="2">
              作業員情報の「自動車運転免許の種類」12-023
            </td>
            <td class="s25" colspan="5" rowspan="2">免許番号</td>
            <td class="s25" colspan="12" rowspan="2">
              作業員情報の「自動車運転免許の番号」12-024
            </td>
          </tr>
          <tr style="height: 31px">
          </tr>
          <tr style="height: 31px">
            <td class="s25" rowspan="4">自賠責</td>
            <td class="s4" colspan="5" rowspan="2">保険会社名</td>
            <td class="s25" colspan="13" rowspan="2">
              各車両の「自賠責保険会社名」12-025
            </td>
            <td class="s25" colspan="5" rowspan="2">証券番号</td>
            <td class="s25" colspan="12" rowspan="2">
              各車両の「自賠責保険の証券番号」12-026
            </td>
          </tr>
          <tr style="height: 31px">
          </tr>
          <tr style="height: 31px">
            <td class="s4" colspan="5" rowspan="2">保険期間</td>
            <td class="s17" colspan="14" rowspan="2">
              各車両の「自賠責保険期間・始期（西暦）」12-027
            </td>
            <td class="s27" colspan="2" rowspan="2">～</td>
            <td class="s25" colspan="14" rowspan="2">
              各車両の「自賠責保険期間・終期（西暦）」12-028
            </td>
          </tr>
          <tr style="height: 31px">
          </tr>
          <tr style="height: 31px">
            <td class="s25" rowspan="6">任意保険</td>
            <td class="s4" colspan="5" rowspan="2">保険会社名</td>
            <td class="s25" colspan="13" rowspan="2">
              各車両の「任意保険会社名」12-029
            </td>
            <td class="s25" colspan="5" rowspan="2">証券番号</td>
            <td class="s25" colspan="12" rowspan="2">
              各車両の「任意保険の証券番号」12-030
            </td>
          </tr>
          <tr style="height: 31px">
          </tr>
          <tr style="height: 31px">
            <td class="s4" colspan="5" rowspan="2">対 人</td>
            <td class="s17" colspan="10" rowspan="2">
              各車両の「任意保険の対人」12-031
            </td>
            <td class="s25" colspan="3" rowspan="2">万円</td>
            <td class="s25" colspan="5" rowspan="2">対 物</td>
            <td class="s17" colspan="9" rowspan="2">
              各車両の「任意保険の対物」12-032
            </td>
            <td class="s25" colspan="3" rowspan="2">万円</td>
          </tr>
          <tr style="height: 31px">
          </tr>
          <tr style="height: 31px">
            <td class="s4" colspan="5" rowspan="2">保険期間</td>
            <td class="s17" colspan="14" rowspan="2">
              各車両の「任意保険期間・始期（西暦）」12-033
            </td>
            <td class="s27" colspan="2" rowspan="2">～</td>
            <td class="s25" colspan="14" rowspan="2">
              各車両の「任意保険期間・終期（西暦）」12-034
            </td>
          </tr>
          <tr style="height: 31px">
          </tr>
          <tr style="height: 31px">
            <td class="s4" colspan="6" rowspan="2">運行経路</td>
            <td class="s17" colspan="2" rowspan="2">自</td>
            <td class="s17" colspan="5" rowspan="2">
              各車両の「運行経路(自)」12-035
            </td>
            <td class="s17" colspan="3" rowspan="2">経由</td>
            <td class="s17" colspan="5" rowspan="2">
              各車両の「運行経路の経由地1」12-036
            </td>
            <td class="s17" colspan="3" rowspan="2">経由</td>
            <td class="s17" colspan="5" rowspan="2">
              各車両の「運行経路の経由地2」12-037
            </td>
            <td class="s17" colspan="2" rowspan="2">至</td>
            <td class="s25" colspan="5" rowspan="2">
              各車両の「目的地（至）」12-038
            </td>
          </tr>
          <tr style="height: 31px">
          </tr>
          <tr style="height: 31px">
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
            <td class="s6"></td>
          </tr>
          <tr style="height: 31px">
            <td class="s28" colspan="2">（注）</td>
            <td class="s22" colspan="34">
              １．この届出書は車両１台ごとに提出すること。
            </td>
          </tr>
          <tr style="height: 31px">

            <td class="s22"></td>
            <td class="s22"></td>
            <td class="s22" colspan="34">
              ２．この届出書に「任意保険」の証書（写）を添付し提出すること。
            </td>
          </tr>
          <tr style="height: 31px">
            <td class="s22"></td>
            <td class="s22"></td>
            <td class="s22" colspan="34">
              ３．運転者が変わった場合はその都度届け出ること。
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>

<style>
  #eighth-document {
  overflow: hidden;
  position: relative;
  background-color: white;
  padding: 10px;
  }
  .eighth-text-container {
    white-space: normal;
  }
  .td-no-border td {
    border: 1px SOLID #fff;
  }
  .ritz .waffle a {
    color: inherit;
  }
  .ritz .waffle .s0 {
    border: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    color: #000000;
    font-size: 11pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
  .ritz .waffle .s22 {
    background-color: #ffffff;
    text-align: left;
    color: #000000;
    font-size: 12pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
  .ritz .waffle .s15 {
    background-color: #ffffff;
    text-align: center;
    font-weight: bold;
    color: #000000;
    font-size: 16pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
  .ritz .waffle .s11 {
    background-color: #ffffff;
    text-align: center;
    color: #000000;
    font-size: 12pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
  .ritz .waffle .s6 {
    background-color: #ffffff;
    text-align: left;
    color: #000000;
    font-size: 11pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
  .ritz .waffle .s1 {
    background-color: #ffffff;
    text-align: center;
    color: #000000;
    font-size: 11pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
  .ritz .waffle .s20 {
    background-color: #ffffff;
    text-align: center;
    text-decoration: underline;
    -webkit-text-decoration-skip: none;
    text-decoration-skip-ink: none;
    color: #000000;
    font-size: 11pt;
    vertical-align: middle;
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
  .ritz .waffle .s17 {
    border-bottom: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    color: #000000;
    font-size: 14pt;
    vertical-align: middle;
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
  .ritz .waffle .s26 {
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    color: #000000;
    font-size: 14pt;
    vertical-align: middle;
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
  .ritz .waffle .s21 {
    background-color: #ffffff;
    text-align: center;
    color: #000000;
    font-size: 10pt;
    vertical-align: middle;
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
  .ritz .waffle .s4 {
    border: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    color: #000000;
    font-size: 14pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
  .ritz .waffle .s12 {
    background-color: #ffffff;
    text-align: center;
    font-weight: bold;
    color: #000000;
    font-size: 24pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
  .ritz .waffle .s7 {
    background-color: #ffffff;
    text-align: left;
    color: #000000;
    font-size: 14pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
  .ritz .waffle .s10 {
    background-color: #ffffff;
    text-align: center;
    text-decoration: underline;
    -webkit-text-decoration-skip: none;
    text-decoration-skip-ink: none;
    color: #000000;
    font-size: 12pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
  .ritz .waffle .s5 {
    border: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    color: #000000;
    font-size: 12pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
  .ritz .waffle .s8 {
    background-color: #ffffff;
    text-align: left;
    color: #000000;
    font-size: 14pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
  .ritz .waffle .s28 {
    background-color: #ffffff;
    text-align: right;
    color: #000000;
    font-size: 12pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
  .ritz .waffle .s14 {
    background-color: #ffffff;
    text-align: center;
    color: #000000;
    font-size: 11pt;
    vertical-align: middle;
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
  .ritz .waffle .s2 {
    background-color: #ffffff;
    text-align: left;
    color: #000000;
    font-size: 11pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
  .ritz .waffle .s13 {
    background-color: #ffffff;
    text-align: left;
    font-weight: bold;
    color: #000000;
    font-size: 24pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
  .ritz .waffle .s25 {
    border-left: 1px SOLID #000000;
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    color: #000000;
    font-size: 14pt;
    vertical-align: middle;
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
  .ritz .waffle .s27 {
    border-bottom: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    color: #000000;
    font-size: 11pt;
    vertical-align: middle;
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
  .ritz .waffle .s23 {
    border-bottom: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: left;
    color: #000000;
    font-size: 11pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
  .ritz .waffle .s16 {
    border-bottom: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    color: #000000;
    font-size: 14pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
  .ritz .waffle .s24 {
    border-bottom: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: left;
    color: #000000;
    font-size: 11pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
  .ritz .waffle .s3 {
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: left;
    color: #000000;
    font-size: 11pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
  .ritz .waffle .s18 {
    background-color: #ffffff;
    text-align: left;
    color: #000000;
    font-size: 10pt;
    vertical-align: middle;
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
  .ritz .waffle .s19 {
    border-bottom: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    color: #000000;
    font-size: 12pt;
    vertical-align: middle;
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
  .ritz .waffle .s9 {
    background-color: #ffffff;
    text-align: center;
    color: #000000;
    font-size: 14pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
  @supports (-webkit-touch-callout: none) {
  .eighth-text-container {
    white-space: normal;
  }
</style>
