<body style="margin: 0;">

  <div id="p1" style="overflow: hidden; position: relative; background-color: white; width: 909px; height: 1286px;">
  
  <!-- Begin shared CSS values -->
  <style class="shared-css" type="text/css" >
  .t {
    transform-origin: bottom left;
    z-index: 2;
    position: absolute;
    white-space: pre;
    overflow: visible;
    line-height: 1.5;
  }
  .text-container {
    white-space: pre;
  }
  @supports (-webkit-touch-callout: none) {
    .text-container {
      white-space: normal;
    }
  }
  </style>
  <!-- End shared CSS values -->
  
  
  <!-- Begin inline CSS -->
  <style type="text/css" >
  
  #t1_1{left:100px;bottom:257px;letter-spacing:0.47px;}
  #t2_1{left:109px;bottom:243px;letter-spacing:0.37px;}
  #t3_1{left:364px;bottom:249px;letter-spacing:-0.43px;}
  #t4_1{left:608px;bottom:249px;letter-spacing:-0.09px;}
  #t5_1{left:93px;bottom:572px;letter-spacing:-0.43px;}
  #t6_1{left:93px;bottom:536px;letter-spacing:-0.43px;}
  #t7_1{left:104px;bottom:482px;letter-spacing:-0.35px;}
  #t8_1{left:439px;bottom:483px;letter-spacing:-0.43px;}
  #t9_1{left:534px;bottom:483px;letter-spacing:-0.09px;}
  #ta_1{left:97px;bottom:430px;letter-spacing:0.37px;}
  #tb_1{left:445px;bottom:429px;letter-spacing:-0.43px;}
  #tc_1{left:527px;bottom:429px;letter-spacing:-0.09px;}
  #td_1{left:93px;bottom:608px;letter-spacing:-0.43px;}
  #te_1{left:93px;bottom:590px;letter-spacing:-0.43px;}
  #tf_1{left:104px;bottom:375px;letter-spacing:-0.35px;}
  #tg_1{left:391px;bottom:375px;letter-spacing:-0.43px;}
  #th_1{left:581px;bottom:375px;letter-spacing:-0.09px;}
  #ti_1{left:97px;bottom:322px;letter-spacing:0.37px;}
  #tj_1{left:177px;bottom:330px;letter-spacing:-0.43px;}
  #tk_1{left:216px;bottom:312px;letter-spacing:-0.43px;}
  #tl_1{left:270px;bottom:312px;letter-spacing:-0.09px;}
  #tm_1{left:339px;bottom:329px;letter-spacing:0.37px;}
  #tn_1{left:353px;bottom:316px;letter-spacing:0.37px;}
  #to_1{left:458px;bottom:321px;letter-spacing:-0.43px;}
  #tp_1{left:757px;bottom:321px;letter-spacing:-0.09px;}
  #tq_1{left:93px;bottom:698px;letter-spacing:-0.43px;}
  #tr_1{left:93px;bottom:680px;letter-spacing:-0.43px;}
  #ts_1{left:93px;bottom:662px;letter-spacing:-0.43px;}
  #tt_1{left:93px;bottom:626px;letter-spacing:-0.43px;}
  #tu_1{left:93px;bottom:770px;letter-spacing:-0.43px;}
  #tv_1{left:93px;bottom:752px;letter-spacing:-0.4px;}
  #tw_1{left:93px;bottom:734px;letter-spacing:-0.42px;}
  #tx_1{left:93px;bottom:716px;letter-spacing:-0.43px;}
  #ty_1{left:93px;bottom:878px;letter-spacing:-0.43px;}
  #tz_1{left:93px;bottom:860px;letter-spacing:-0.43px;}
  #t10_1{left:93px;bottom:842px;letter-spacing:-0.43px;}
  #t11_1{left:93px;bottom:824px;letter-spacing:-0.43px;}
  #t12_1{left:93px;bottom:806px;letter-spacing:-0.43px;}
  #t13_1{left:613px;bottom:985px;letter-spacing:-0.35px;}
  #t14_1{left:410px;bottom:983px;letter-spacing:-0.43px;}
  #t15_1{left:286px;bottom:942px;letter-spacing:0.55px;}
  #t16_1{left:93px;bottom:914px;letter-spacing:-0.4px;}
  #t17_1{left:93px;bottom:896px;letter-spacing:-0.43px;}
  #t18_1{left:93px;bottom:1181px;letter-spacing:0.42px;}
  #t19_1{left:700px;bottom:1165px;letter-spacing:-0.37px;}
  #t1a_1{left:93px;bottom:1144px;letter-spacing:0.6px;}
  #t1b_1{left:416px;bottom:1075px;letter-spacing:-0.43px;}
  #t1c_1{left:599px;bottom:1039px;letter-spacing:-0.37px;}
  #t1d_1{left:424px;bottom:1037px;}
  #t1e_1{left:451px;bottom:1037px;}
  #t1f_1{left:478px;bottom:1037px;}
  
  .s1{font-size:12px;font-family:CIDFont-F1_8;color:#000;}
  .s2{font-size:14px;font-family:CIDFont-F1_8;color:#000;}
  .s3{font-size:14px;font-family:CIDFont-F2_g;color:#000;}
  .s4{font-size:11px;font-family:CIDFont-F1_8;color:#000;}
  .s5{font-size:22px;font-family:CIDFont-F1_8;color:#000;-webkit-text-stroke:0.2px #000;text-stroke:0.2px #000;}
  .s6{font-size:17px;font-family:CIDFont-F1_8;color:#000;}
  </style>
  <!-- End inline CSS -->
  
  <!-- Begin embedded font definitions -->
  <style id="fonts1" type="text/css" >
  
  @font-face {
    font-family: CIDFont-F1_8;
    src: url("fonts/CIDFont-F1_8.woff") format("woff");
  }
  
  @font-face {
    font-family: CIDFont-F2_g;
    src: url("fonts/CIDFont-F2_g.woff") format("woff");
  }
  
  </style>
  <!-- End embedded font definitions -->
  
  <!-- Begin page background -->
  <div id="pg1Overlay" style="width:100%; height:100%; position:absolute; z-index:1; background-color:rgba(0,0,0,0); -webkit-user-select: none;"></div>
  <div id="pg1" style="-webkit-user-select: none;"><object width="909" height="1286" data="1/1.svg" type="image/svg+xml" id="pdf1" style="width:909px; height:1286px; -moz-transform:scale(1); z-index: 0;"></object></div>
  <!-- End page background -->
  
  
  <!-- Begin text definitions (Positioned/styled in CSS) -->
  <div class="text-container"><span id="t1_1" class="t s1">提出先及び </span>
  <span id="t2_1" class="t s1">担 当 者 </span>
  <span id="t3_1" class="t s2">「提出先及び担当者（元請会社のみ）」</span><span id="t4_1" class="t s3">3-9 </span>
  <span id="t5_1" class="t s2">写しの交付が必要である」旨を伝えなければなりません。 </span>
  <span id="t6_1" class="t s2">なお、当工事の概要は次の通りですが、不明の点は下記の担当者に照会ください。 </span>
  <span id="t7_1" class="t s2">元 請 名 </span><span id="t8_1" class="t s2">「元請会社名」</span><span id="t9_1" class="t s3">3-4 </span>
  <span id="ta_1" class="t s1">発 注 者 名 </span><span id="tb_1" class="t s2">「発注者名」</span><span id="tc_1" class="t s3">3-5 </span>
  <span id="td_1" class="t s2">他に下請負を行わせる場合は、この書面を複写し交付して、「もし更に他の者に工事を請け負わせ </span>
  <span id="te_1" class="t s2">たときは、『再下請負通知書』を提出するとともに、関係する後次の下請負業者に対してこの書面の </span>
  <span id="tf_1" class="t s2">工 事 名 </span><span id="tg_1" class="t s2">元請会社の「各会社の工事名」</span><span id="th_1" class="t s3">3-6 </span>
  <span id="ti_1" class="t s1">監 督 員 名 </span>
  <span id="tj_1" class="t s2">元請会社の「各会社の監 </span>
  <span id="tk_1" class="t s2">督員名」</span><span id="tl_1" class="t s3">3-7 </span>
  <span id="tm_1" class="t s4">権限及び意見 </span>
  <span id="tn_1" class="t s4">申出方法 </span>
  <span id="to_1" class="t s2">「各会社の監督員名・権限及び意見の申出方法」</span><span id="tp_1" class="t s3">3-8 </span>
  <span id="tq_1" class="t s2">ます。 </span>
  <span id="tr_1" class="t s2">一次下請負業者の方は、後次の下請負業者から提出される再下請負通知を取りまとめ、下請負業者 </span>
  <span id="ts_1" class="t s2">編成表とともに提出してください。 </span>
  <span id="tt_1" class="t s2">②再下請負業者に対する通知 </span>
  <span id="tu_1" class="t s2">①再下請負通知書の提出 </span>
  <span id="tv_1" class="t s2">建設業法第24条の7第2項の規定により、遅滞なく、建設業法施行規則（昭和24年建設省令第14号） </span>
  <span id="tw_1" class="t s2">第14条の4に規定する再下請負通知書により、自社の建設業登録や主任技術者等の選任状況及び再下 </span>
  <span id="tx_1" class="t s2">請負契約がある場合はその状況を、直近上位の注文者を通じて元請負業者に報告されるようお願いし </span>
  <span id="ty_1" class="t s2">この建設工事に従事する下請負業者の方は、一次、二次等の層次を問わず、その請け負った建設工事を </span>
  <span id="tz_1" class="t s2">他の建設業を営む者（建設業の許可を受けていない者を含みます。）に請け負わせたときは、速やかに次 </span>
  <span id="t10_1" class="t s2">の手続きを実施してください。 </span>
  <span id="t11_1" class="t s2">なお、一度提出いただいた事項や書類に変更が生じたときも、遅滞なく、変更の年月日を付記して再提 </span>
  <span id="t12_1" class="t s2">出しなければなりません。 </span>
  <span id="t13_1" class="t s2">「現場名」3-3 </span><span id="t14_1" class="t s2">事業所の名称 </span>
  <span id="t15_1" class="t s5">施工体制台帳作成建設工事の通知 </span>
  <span id="t16_1" class="t s2">当工事は、建設業法（昭和24年法律第100号）第24条の7に基づく施工体制台帳の作成を要する建設工事 </span>
  <span id="t17_1" class="t s2">です。 </span>
  <span id="t18_1" class="t s1">(全建統一様式第２号) </span>
  <span id="t19_1" class="t s2">提出日（西暦）3-1 </span>
  <span id="t1a_1" class="t s6">下請負業者の皆さんへ </span>
  <span id="t1b_1" class="t s2">【元請負業者】 </span>
  <span id="t1c_1" class="t s2">「元請会社名」3-2 </span><span id="t1d_1" class="t s2">会 </span><span id="t1e_1" class="t s2">社 </span><span id="t1f_1" class="t s2">名 </span></div>
  <!-- End text definitions -->
  
  
  </div>
  </body>
  