<body style="margin: 0;">

  <div id="p1" style="overflow: hidden; position: relative; background-color: white; width: 909px; height: 1286px;">
  
  <!-- Begin shared CSS values -->
  <style class="shared-css" type="text/css" >
  .t {
    transform-origin: bottom left;
    z-index: 2;
    position: absolute;
    white-space: pre;
    overflow: visible;
    line-height: 1.5;
  }
  .text-container {
    white-space: pre;
  }
  @supports (-webkit-touch-callout: none) {
    .text-container {
      white-space: normal;
    }
  }
  </style>
  <!-- End shared CSS values -->
  
  
  <!-- Begin inline CSS -->
  <style type="text/css" >
  
  #t1_1{left:616px;bottom:1179px;}
  #t2_1{left:676px;bottom:1179px;}
  #t3_1{left:780px;bottom:1179px;}
  #t4_1{left:93px;bottom:1150px;}
  #t5_1{left:303px;bottom:1150px;}
  #t6_1{left:619px;bottom:1148px;letter-spacing:0.07px;}
  #t7_1{left:93px;bottom:1121px;}
  #t8_1{left:303px;bottom:1120px;}
  #t9_1{left:619px;bottom:1118px;letter-spacing:0.07px;}
  #ta_1{left:93px;bottom:1091px;}
  #tb_1{left:116px;bottom:1091px;letter-spacing:0.01px;word-spacing:0.11px;}
  #tc_1{left:303px;bottom:1091px;}
  #td_1{left:619px;bottom:1089px;letter-spacing:0.07px;}
  #te_1{left:93px;bottom:1062px;}
  #tf_1{left:116px;bottom:1062px;letter-spacing:0.01px;word-spacing:0.11px;}
  #tg_1{left:303px;bottom:1062px;}
  #th_1{left:619px;bottom:1060px;letter-spacing:0.07px;}
  #ti_1{left:93px;bottom:1033px;}
  #tj_1{left:116px;bottom:1033px;letter-spacing:0.01px;word-spacing:0.11px;}
  #tk_1{left:303px;bottom:1032px;}
  #tl_1{left:619px;bottom:1030px;letter-spacing:0.07px;}
  #tm_1{left:93px;bottom:1003px;}
  #tn_1{left:303px;bottom:1003px;}
  #to_1{left:457px;bottom:1003px;}
  #tp_1{left:460px;bottom:1003px;}
  #tq_1{left:515px;bottom:1003px;}
  #tr_1{left:619px;bottom:1001px;letter-spacing:0.07px;}
  #ts_1{left:93px;bottom:974px;}
  #tt_1{left:303px;bottom:974px;}
  #tu_1{left:457px;bottom:974px;}
  #tv_1{left:460px;bottom:974px;}
  #tw_1{left:526px;bottom:974px;}
  #tx_1{left:619px;bottom:972px;letter-spacing:0.07px;}
  #ty_1{left:93px;bottom:945px;}
  #tz_1{left:116px;bottom:945px;letter-spacing:0.01px;word-spacing:0.11px;}
  #t10_1{left:303px;bottom:944px;}
  #t11_1{left:619px;bottom:942px;letter-spacing:0.07px;}
  #t12_1{left:93px;bottom:915px;}
  #t13_1{left:116px;bottom:915px;letter-spacing:0.01px;word-spacing:0.11px;}
  #t14_1{left:303px;bottom:915px;}
  #t15_1{left:314px;bottom:915px;}
  #t16_1{left:317px;bottom:915px;}
  #t17_1{left:372px;bottom:915px;}
  #t18_1{left:375px;bottom:915px;}
  #t19_1{left:619px;bottom:913px;letter-spacing:0.07px;}
  #t1a_1{left:90px;bottom:886px;letter-spacing:0.1px;}
  #t1b_1{left:116px;bottom:886px;letter-spacing:0.02px;word-spacing:0.1px;}
  #t1c_1{left:303px;bottom:886px;}
  #t1d_1{left:619px;bottom:884px;letter-spacing:0.07px;}
  #t1e_1{left:90px;bottom:857px;letter-spacing:0.1px;}
  #t1f_1{left:303px;bottom:856px;}
  #t1g_1{left:619px;bottom:854px;letter-spacing:0.07px;}
  #t1h_1{left:90px;bottom:827px;letter-spacing:0.1px;}
  #t1i_1{left:303px;bottom:827px;}
  #t1j_1{left:619px;bottom:825px;letter-spacing:0.07px;}
  #t1k_1{left:90px;bottom:798px;letter-spacing:0.1px;}
  #t1l_1{left:116px;bottom:798px;letter-spacing:0.01px;word-spacing:0.11px;}
  #t1m_1{left:303px;bottom:798px;}
  #t1n_1{left:393px;bottom:798px;}
  #t1o_1{left:400px;bottom:798px;}
  #t1p_1{left:619px;bottom:796px;letter-spacing:0.07px;}
  #t1q_1{left:90px;bottom:769px;letter-spacing:0.1px;}
  #t1r_1{left:116px;bottom:769px;letter-spacing:0.02px;word-spacing:0.1px;}
  #t1s_1{left:303px;bottom:768px;}
  #t1t_1{left:369px;bottom:768px;}
  #t1u_1{left:372px;bottom:768px;}
  #t1v_1{left:416px;bottom:768px;}
  #t1w_1{left:420px;bottom:768px;}
  #t1x_1{left:486px;bottom:768px;}
  #t1y_1{left:489px;bottom:768px;}
  #t1z_1{left:619px;bottom:766px;letter-spacing:0.07px;}
  #t20_1{left:90px;bottom:739px;letter-spacing:0.1px;}
  #t21_1{left:116px;bottom:739px;letter-spacing:0.02px;word-spacing:0.1px;}
  #t22_1{left:303px;bottom:739px;}
  #t23_1{left:619px;bottom:737px;letter-spacing:0.07px;}
  #t24_1{left:90px;bottom:710px;letter-spacing:0.1px;}
  #t25_1{left:303px;bottom:710px;}
  #t26_1{left:619px;bottom:708px;letter-spacing:0.07px;}
  #t27_1{left:90px;bottom:681px;letter-spacing:0.1px;}
  #t28_1{left:116px;bottom:681px;letter-spacing:0.01px;word-spacing:0.11px;}
  #t29_1{left:303px;bottom:680px;}
  #t2a_1{left:619px;bottom:678px;letter-spacing:0.07px;}
  #t2b_1{left:90px;bottom:651px;letter-spacing:0.1px;}
  #t2c_1{left:116px;bottom:651px;letter-spacing:0.02px;word-spacing:0.1px;}
  #t2d_1{left:303px;bottom:651px;}
  #t2e_1{left:619px;bottom:649px;letter-spacing:0.07px;}
  #t2f_1{left:334px;bottom:1180px;}
  
  .s1{font-size:11px;font-family:CIDFont-F1_8;color:#000;}
  .s2{font-size:11px;font-family:CIDFont-F2_g;color:#000;}
  .s3{font-size:11px;font-family:CIDFont-F3_o;color:#000;}
  .s4{font-size:14px;font-family:CIDFont-F4_w;color:#000;}
  .s5{font-size:11px;font-family:CIDFont-F4_w;color:#000;}
  </style>
  <!-- End inline CSS -->
  
  <!-- Begin embedded font definitions -->
  <style id="fonts1" type="text/css" >
  
  @font-face {
    font-family: CIDFont-F1_8;
    src: url("fonts/CIDFont-F1_8.woff") format("woff");
  }
  
  @font-face {
    font-family: CIDFont-F2_g;
    src: url("fonts/CIDFont-F2_g.woff") format("woff");
  }
  
  @font-face {
    font-family: CIDFont-F3_o;
    src: url("fonts/CIDFont-F3_o.woff") format("woff");
  }
  
  @font-face {
    font-family: CIDFont-F4_w;
    src: url("fonts/CIDFont-F4_w.woff") format("woff");
  }
  
  </style>
  <!-- End embedded font definitions -->
  
  <!-- Begin page background -->
  <div id="pg1Overlay" style="width:100%; height:100%; position:absolute; z-index:1; background-color:rgba(0,0,0,0); -webkit-user-select: none;"></div>
  <div id="pg1" style="-webkit-user-select: none;"><object width="909" height="1286" data="1/1.svg" type="image/svg+xml" id="pdf1" style="width:909px; height:1286px; -moz-transform:scale(1); z-index: 0;"></object></div>
  <!-- End page background -->
  
  
  <!-- Begin text definitions (Positioned/styled in CSS) -->
  <div class="text-container"><span id="t1_1" class="t s1">仕様 </span><span id="t2_1" class="t s1">提出日年月日 </span><span id="t3_1" class="t s1">確認 </span>
  <span id="t4_1" class="t s2">1 </span><span id="t5_1" class="t s3">①表紙 </span><span id="t6_1" class="t s4">A4 </span>
  <span id="t7_1" class="t s2">2 </span><span id="t8_1" class="t s1">②目次・チェック欄 </span><span id="t9_1" class="t s4">A4 </span>
  <span id="ta_1" class="t s2">3 </span><span id="tb_1" class="t s2">全建統一様式 第2号 </span><span id="tc_1" class="t s1">③施工体制台帳作成建設工事の通知 </span><span id="td_1" class="t s4">A3 </span>
  <span id="te_1" class="t s2">4 </span><span id="tf_1" class="t s2">全建統一様式 第3号 </span><span id="tg_1" class="t s1">④施工体制台帳 </span><span id="th_1" class="t s4">A3 </span>
  <span id="ti_1" class="t s2">5 </span><span id="tj_1" class="t s2">全建統一様式 第１号-甲 </span><span id="tk_1" class="t s1">⑤再下請負通知書（変更届） </span><span id="tl_1" class="t s4">A3 </span>
  <span id="tm_1" class="t s2">6 </span><span id="tn_1" class="t s1">⑥安全衛生管理に関する契約書 </span><span id="to_1" class="t s5">( </span><span id="tp_1" class="t s1">一次会社用 </span><span id="tq_1" class="t s5">) </span><span id="tr_1" class="t s4">A4 </span>
  <span id="ts_1" class="t s2">7 </span><span id="tt_1" class="t s1">⑦安全衛生管理に関する契約書 </span><span id="tu_1" class="t s5">( </span><span id="tv_1" class="t s1">再下請会社用 </span><span id="tw_1" class="t s5">) </span><span id="tx_1" class="t s4">A4 </span>
  <span id="ty_1" class="t s2">8 </span><span id="tz_1" class="t s2">全建統一様式 第5号 </span><span id="t10_1" class="t s1">⑧作業員名簿 </span><span id="t11_1" class="t s4">A3 </span>
  <span id="t12_1" class="t s2">9 </span><span id="t13_1" class="t s2">全建統一様式・参考様式 第8号 </span><span id="t14_1" class="t s1">⑬ </span><span id="t15_1" class="t s5">( </span><span id="t16_1" class="t s1">工事・通勤 </span><span id="t17_1" class="t s5">) </span><span id="t18_1" class="t s1">用車両届 </span><span id="t19_1" class="t s4">A4 </span>
  <span id="t1a_1" class="t s2">10 </span><span id="t1b_1" class="t s2">全建統一様式 第1号-甲-別紙 </span><span id="t1c_1" class="t s1">⑨外国人建設就労者建設現場入場届出書 </span><span id="t1d_1" class="t s4">A4 </span>
  <span id="t1e_1" class="t s2">11 </span><span id="t1f_1" class="t s1">⑩高年齢者作業申告書 </span><span id="t1g_1" class="t s4">A4 </span>
  <span id="t1h_1" class="t s2">12 </span><span id="t1i_1" class="t s1">⑪年少者就労報告書 </span><span id="t1j_1" class="t s4">A4 </span>
  <span id="t1k_1" class="t s2">13 </span><span id="t1l_1" class="t s2">全建統一様式 第9号 </span><span id="t1m_1" class="t s1">⑭移動式クレーン </span><span id="t1n_1" class="t s5">/ </span><span id="t1o_1" class="t s1">車両系建設機械等使用届 </span><span id="t1p_1" class="t s4">A3 </span>
  <span id="t1q_1" class="t s2">14 </span><span id="t1r_1" class="t s2">全建統一様式 第10号 </span><span id="t1s_1" class="t s1">⑮持込機械等 </span><span id="t1t_1" class="t s5">( </span><span id="t1u_1" class="t s1">電動工具 </span><span id="t1v_1" class="t s5">/ </span><span id="t1w_1" class="t s1">電気溶接機等 </span><span id="t1x_1" class="t s5">) </span><span id="t1y_1" class="t s1">使用届 </span><span id="t1z_1" class="t s4">A3 </span>
  <span id="t20_1" class="t s2">15 </span><span id="t21_1" class="t s2">全建統一様式 第11号 </span><span id="t22_1" class="t s1">⑯有機溶剤・特定化学物質等持込使用届 </span><span id="t23_1" class="t s4">A4 </span>
  <span id="t24_1" class="t s2">16 </span><span id="t25_1" class="t s1">⑰化学物質を取り扱う作業のリスクアセスメント </span><span id="t26_1" class="t s4">A3 </span>
  <span id="t27_1" class="t s2">17 </span><span id="t28_1" class="t s2">全建統一様式・参考様式 第9号 </span><span id="t29_1" class="t s1">⑱火気使用届 </span><span id="t2a_1" class="t s4">A4 </span>
  <span id="t2b_1" class="t s2">18 </span><span id="t2c_1" class="t s2">全建統一様式 第1号-乙 </span><span id="t2d_1" class="t s3">⑲下請負業者編成表 </span><span id="t2e_1" class="t s4">A3 </span>
  <span id="t2f_1" class="t s1">書類名 </span></div>
  <!-- End text definitions -->
  
  
  </div>
  </body>
  