<% provide(:title,  "発注依頼一覧") %>

<br>
<% if @request_orders.present? %>
  <div class="card">
    <div class="card-body table-responsive p-0">
      <table class="table table-hover text-nowrap">
        <thead>
          <tr align="center">
            <th><%= RequestOrder.human_attribute_name(:status) %></th>
            <th><%= Business.human_attribute_name(:name) %></th>
          </tr>
        </thead>
        <tbody>
          <% @request_orders.each do |request_order| %>
          <tr align="center">
            <td><%= request_order.status_i18n %></td>
            <td><%= link_to request_order.business.name, users_request_order_path(request_order) %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>
