sup {
  top: -0.4em;
  vertical-align: baseline;
  position: relative;
}

sub {
  top: 0.4em;
  vertical-align: baseline;
  position: relative;
}

a:link {text-decoration:none;}
a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.layer { }.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
.stl_01 {
  position: absolute;
  white-space: nowrap;
}

.stl_02 {
  height: 70.08334em;
  font-size: 1em;
  margin: 0em;
  line-height: 0.0em;
  display: block;
  border-style: none;
  width: 99.16666em;
}

@supports(-ms-ime-align:auto) { .stl_02 {width: auto; overflow: hidden;}}
.stl_03 {
  position: relative;
}

.stl_04 {
  width: 100%;
  clip: rect(1.791662em,94.77167em,52.935em,4.348333em);
  position: absolute;
  pointer-events: none;
}

.stl_05 {
  position: relative;
  width: 99.16666em;
}

.stl_06 {
  height: 7.008333em;
}

.ie .stl_06 {
  height: 70.08334em;
}

.stl_07 {
  font-size: 0.71em;
  font-family: "CLVNAH+CIDFont+F1";
  color: #000000;
  line-height: 1.014223em;
}

.stl_08 {
  letter-spacing: 0em;
}

.stl_09 {
  letter-spacing: -0.01em;
}

.stl_10 {
  font-size: 0.65em;
  font-family: "CLVNAH+CIDFont+F1";
  color: #000000;
  line-height: 1.015566em;
}

.stl_11 {
  letter-spacing: 0.01em;
}

.stl_12 {
  font-size: 1.42em;
  font-family: "CLVNAH+CIDFont+F1";
  color: #000000;
  line-height: 1.00703em;
}

.stl_13 {
  font-size: 0.59em;
  font-family: "CLVNAH+CIDFont+F1";
  color: #000000;
  line-height: 1.017178em;
}

.stl_14 {
  letter-spacing: -0.02em;
}

.stl_15 {
  font-size: 0.65em;
  font-family: "SAGKIR+CIDFont+F2", "Times New Roman";
  color: #000000;
  line-height: 1.239705em;
}

.stl_16 {
  font-size: 0.48em;
  font-family: "SAGKIR+CIDFont+F2", "Times New Roman";
  color: #000000;
  line-height: 1.246598em;
}

.stl_17 {
  font-size: 0.53em;
  font-family: "CLVNAH+CIDFont+F1";
  color: #000000;
  line-height: 1.019167em;
}

.stl_18 {
  font-size: 0.48em;
  font-family: "CLVNAH+CIDFont+F1";
  color: #000000;
  line-height: 1.021213em;
}

.stl_19 {
  letter-spacing: -0.03em;
}

.stl_20 {
  font-size: 0.35em;
  font-family: "CLVNAH+CIDFont+F1";
  color: #000000;
  line-height: 1.029347em;
}

.stl_21 {
  letter-spacing: 0.02em;
}
