#eighth-document {
  overflow: hidden;
  position: relative;
  background-color: white;
  width: 909px;
  height: 1286px;
}

.eighth-text-container {
  white-space: normal;
}


.ritz .waffle a {
  color: inherit;
}
.ritz .waffle .s0 {
  border-bottom: 1px SOLID #000000;
  border-right: 1px SOLID #000000;
  background-color: #ffffff;
  text-align: center;
  color: #000000;
  font-family: "Arial";
  font-size: 11pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}
.ritz .waffle .s22 {
  background-color: #ffffff;
  text-align: left;
  color: #000000;
  font-family: "Arial";
  font-size: 12pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}
.ritz .waffle .s15 {
  background-color: #ffffff;
  text-align: center;
  font-weight: bold;
  color: #000000;
  font-family: "Arial";
  font-size: 16pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}
.ritz .waffle .s11 {
  background-color: #ffffff;
  text-align: center;
  color: #000000;
  font-family: "Arial";
  font-size: 12pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}
.ritz .waffle .s6 {
  background-color: #ffffff;
  text-align: left;
  color: #000000;
  font-family: "Arial";
  font-size: 11pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}
.ritz .waffle .s1 {
  background-color: #ffffff;
  text-align: center;
  color: #000000;
  font-family: "Arial";
  font-size: 11pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}
.ritz .waffle .s20 {
  background-color: #ffffff;
  text-align: center;
  text-decoration: underline;
  -webkit-text-decoration-skip: none;
  text-decoration-skip-ink: none;
  color: #000000;
  font-family: "Arial";
  font-size: 11pt;
  vertical-align: middle;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}
.ritz .waffle .s17 {
  border-bottom: 1px SOLID #000000;
  background-color: #ffffff;
  text-align: center;
  color: #000000;
  font-family: "Arial";
  font-size: 14pt;
  vertical-align: middle;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}
.ritz .waffle .s26 {
  border-right: 1px SOLID #000000;
  background-color: #ffffff;
  text-align: center;
  color: #000000;
  font-family: "Arial";
  font-size: 14pt;
  vertical-align: middle;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}
.ritz .waffle .s21 {
  background-color: #ffffff;
  text-align: center;
  color: #000000;
  font-family: "Arial";
  font-size: 10pt;
  vertical-align: middle;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}
.ritz .waffle .s4 {
  border-bottom: 1px SOLID #000000;
  border-right: 1px SOLID #000000;
  background-color: #ffffff;
  text-align: center;
  color: #000000;
  font-family: "Arial";
  font-size: 14pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}
.ritz .waffle .s12 {
  background-color: #ffffff;
  text-align: center;
  font-weight: bold;
  color: #000000;
  font-family: "Arial";
  font-size: 24pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}
.ritz .waffle .s7 {
  background-color: #ffffff;
  text-align: left;
  color: #000000;
  font-family: "Arial";
  font-size: 14pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}
.ritz .waffle .s10 {
  background-color: #ffffff;
  text-align: center;
  text-decoration: underline;
  -webkit-text-decoration-skip: none;
  text-decoration-skip-ink: none;
  color: #000000;
  font-family: "Arial";
  font-size: 12pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}
.ritz .waffle .s5 {
  border-bottom: 1px SOLID #000000;
  border-right: 1px SOLID #000000;
  background-color: #ffffff;
  text-align: center;
  color: #000000;
  font-family: "Arial";
  font-size: 12pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}
.ritz .waffle .s8 {
  background-color: #ffffff;
  text-align: left;
  color: #000000;
  font-family: "Arial";
  font-size: 14pt;
  vertical-align: bottom;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}
.ritz .waffle .s28 {
  background-color: #ffffff;
  text-align: right;
  color: #000000;
  font-family: "Arial";
  font-size: 12pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}
.ritz .waffle .s14 {
  background-color: #ffffff;
  text-align: center;
  color: #000000;
  font-family: "Arial";
  font-size: 11pt;
  vertical-align: middle;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}
.ritz .waffle .s2 {
  background-color: #ffffff;
  text-align: left;
  color: #000000;
  font-family: "Arial";
  font-size: 11pt;
  vertical-align: bottom;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}
.ritz .waffle .s13 {
  background-color: #ffffff;
  text-align: left;
  font-weight: bold;
  color: #000000;
  font-family: "Arial";
  font-size: 24pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}
.ritz .waffle .s25 {
  border-bottom: 1px SOLID #000000;
  border-right: 1px SOLID #000000;
  background-color: #ffffff;
  text-align: center;
  color: #000000;
  font-family: "Arial";
  font-size: 14pt;
  vertical-align: middle;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}
.ritz .waffle .s27 {
  border-bottom: 1px SOLID #000000;
  background-color: #ffffff;
  text-align: center;
  color: #000000;
  font-family: "Arial";
  font-size: 11pt;
  vertical-align: middle;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}
.ritz .waffle .s23 {
  border-bottom: 1px SOLID #000000;
  background-color: #ffffff;
  text-align: left;
  color: #000000;
  font-family: "Arial";
  font-size: 11pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}
.ritz .waffle .s16 {
  border-bottom: 1px SOLID #000000;
  background-color: #ffffff;
  text-align: center;
  color: #000000;
  font-family: "Arial";
  font-size: 14pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}
.ritz .waffle .s24 {
  border-bottom: 1px SOLID #000000;
  background-color: #ffffff;
  text-align: left;
  color: #000000;
  font-family: "Arial";
  font-size: 11pt;
  vertical-align: bottom;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}
.ritz .waffle .s3 {
  border-right: 1px SOLID #000000;
  background-color: #ffffff;
  text-align: left;
  color: #000000;
  font-family: "Arial";
  font-size: 11pt;
  vertical-align: bottom;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}
.ritz .waffle .s18 {
  background-color: #ffffff;
  text-align: left;
  color: #000000;
  font-family: "Arial";
  font-size: 10pt;
  vertical-align: middle;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}
.ritz .waffle .s19 {
  border-bottom: 1px SOLID #000000;
  background-color: #ffffff;
  text-align: center;
  color: #000000;
  font-family: "Arial";
  font-size: 12pt;
  vertical-align: middle;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}
.ritz .waffle .s9 {
  background-color: #ffffff;
  text-align: center;
  color: #000000;
  font-family: "Arial";
  font-size: 14pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

@supports (-webkit-touch-callout: none) {
  .eighth-text-container {
    white-space: normal;
  }
}
