#sd_p1 {
  overflow: hidden;
  position: relative;
  background-color: white;
  width: 909px;
  height: 1286px;
}

#sd_p2 {
  left: 78px;
  bottom: 280px;
  text-align: center;
}

#sd_p3 {
  left: 78px;
  bottom: 170px;
  text-align: center;
}

#sd_t1_1 {
  left: 100px;
  bottom: 257px;
  letter-spacing: 0.47px;
}

#sd_t2_1 {
  left: 109px;
  bottom: 243px;
  letter-spacing: 0.37px;
}

#sd_t3_1 {
  left: 364px;
  bottom: 249px;
  letter-spacing: -0.43px;
}

#sd_t4_1 {
  left: 608px;
  bottom: 249px;
  letter-spacing: -0.09px;
}

#sd_t5_1 {
  left: 93px;
  bottom: 572px;
  letter-spacing: -0.43px;
}

#sd_t6_1 {
  left: 93px;
  bottom: 536px;
  letter-spacing: -0.43px;
}

#sd_t7_1 {
  left: 104px;
  bottom: 482px;
  letter-spacing: -0.35px;
}

#sd_t8_1 {
  left: 439px;
  bottom: 483px;
  letter-spacing: -0.43px;
}

#sd_t9_1 {
  left: 534px;
  bottom: 483px;
  letter-spacing: -0.09px;
}

#sd_ta_1 {
  left: 97px;
  bottom: 430px;
  letter-spacing: 0.37px;
}

#sd_tb_1 {
  left: 445px;
  bottom: 429px;
  letter-spacing: -0.43px;
}

#sd_tc_1 {
  left: 527px;
  bottom: 429px;
  letter-spacing: -0.09px;
}

#sd_td_1 {
  left: 93px;
  bottom: 608px;
  letter-spacing: -0.43px;
}

#sd_te_1 {
  left: 93px;
  bottom: 590px;
  letter-spacing: -0.43px;
}

#sd_tf_1 {
  left: 104px;
  bottom: 375px;
  letter-spacing: -0.35px;
}

#sd_tg_1 {
  left: 391px;
  bottom: 375px;
  letter-spacing: -0.43px;
}

#sd_th_1 {
  left: 581px;
  bottom: 375px;
  letter-spacing: -0.09px;
}

#sd_ti_1 {
  left: 97px;
  bottom: 322px;
  letter-spacing: 0.37px;
}

#sd_tj_1 {
  left: 177px;
  bottom: 330px;
  letter-spacing: -0.43px;
}

#sd_tk_1 {
  left: 216px;
  bottom: 312px;
  letter-spacing: -0.43px;
}

#sd_tl_1 {
  left: 270px;
  bottom: 312px;
  letter-spacing: -0.09px;
}

#sd_tm_1 {
  left: 339px;
  bottom: 329px;
  letter-spacing: 0.37px;
}

#sd_tn_1 {
  left: 353px;
  bottom: 316px;
  letter-spacing: 0.37px;
}

#sd_to_1 {
  left: 458px;
  bottom: 321px;
  letter-spacing: -0.43px;
}

#sd_tp_1 {
  left: 757px;
  bottom: 321px;
  letter-spacing: -0.09px;
}

#sd_tq_1 {
  left: 93px;
  bottom: 698px;
  letter-spacing: -0.43px;
}

#sd_tr_1 {
  left: 93px;
  bottom: 680px;
  letter-spacing: -0.43px;
}

#sd_ts_1 {
  left: 93px;
  bottom: 662px;
  letter-spacing: -0.43px;
}

#sd_tt_1 {
  left: 93px;
  bottom: 626px;
  letter-spacing: -0.43px;
}

#sd_tu_1 {
  left: 93px;
  bottom: 770px;
  letter-spacing: -0.43px;
}

#sd_tv_1 {
  left: 93px;
  bottom: 752px;
  letter-spacing: -0.4px;
}

#sd_tw_1 {
  left: 93px;
  bottom: 734px;
  letter-spacing: -0.42px;
}

#sd_tx_1 {
  left: 93px;
  bottom: 716px;
  letter-spacing: -0.43px;
}

#sd_ty_1 {
  left: 93px;
  bottom: 878px;
  letter-spacing: -0.43px;
}

#sd_tz_1 {
  left: 93px;
  bottom: 860px;
  letter-spacing: -0.43px;
}

#sd_t10_1 {
  left: 93px;
  bottom: 842px;
  letter-spacing: -0.43px;
}

#sd_t11_1 {
  left: 93px;
  bottom: 824px;
  letter-spacing: -0.43px;
}

#sd_t12_1 {
  left: 93px;
  bottom: 806px;
  letter-spacing: -0.43px;
}

#sd_t13_1 {
  left: 613px;
  bottom: 985px;
  letter-spacing: -0.35px;
}

#sd_t14_1 {
  left: 410px;
  bottom: 983px;
  letter-spacing: -0.43px;
}

#sd_t15_1 {
  left: 286px;
  bottom: 942px;
  letter-spacing: 0.55px;
}

#sd_t16_1 {
  left: 93px;
  bottom: 914px;
  letter-spacing: -0.4px;
}

#sd_t17_1 {
  left: 93px;
  bottom: 896px;
  letter-spacing: -0.43px;
}

#sd_t18_1 {
  left: 93px;
  bottom: 1181px;
  letter-spacing: 0.42px;
}

#sd_t19_1 {
  left: 700px;
  bottom: 1165px;
  letter-spacing: -0.37px;
}

#sd_t1a_1 {
  left: 93px;
  bottom: 1144px;
  letter-spacing: 0.6px;
}

#sd_t1b_1 {
  left: 416px;
  bottom: 1075px;
  letter-spacing: -0.43px;
}

#sd_t1c_1 {
  left: 599px;
  bottom: 1039px;
  letter-spacing: -0.37px;
}

#sd_t1d_1 {
  left: 424px;
  bottom: 1037px;
}

#sd_t1e_1 {
  left: 451px;
  bottom: 1037px;
}

#sd_t1f_1 {
  left: 478px;
  bottom: 1037px;
}

.sd_s1 {
  font-size: 12px;
  color: #000;
}

.sd_s2 {
  font-size: 14px;
  color: #000;
}

.sd_s3 {
  font-size: 14px;
  color: #000;
}

.sd_s4 {
  font-size: 11px;
  color: #000;
}

.sd_s5 {
  font-size: 22px;
  color: #000;
}

.sd_s6 {
  font-size: 17px;
  color: #000;
}

.sd_t {
  transform-origin: bottom left;
  z-index: 2;
  position: absolute;
  white-space: pre;
  overflow: visible;
  line-height: 1.5;
}

.sd_text-container {
  white-space: pre-line;
}

#sd_t1f_1_1 {
  left: 500px;
  bottom: 1037px;
  border-bottom: solid 1px;
  width: 320px;
}

#sd_t13_1_1 {
  left: 500px;
  bottom: 985px;
  border-bottom: solid 1px;
  width: 320px;
}

.sd_td_1 {
  font-size: 14px;
  color: #000;
}

@supports (-webkit-touch-callout: none) {
  .sd_text-container {
    white-space: normal;
  }
}
