#tod_p1 {
  overflow: hidden;
  position: relative;
  background-color: white;
  width: 909px;
  height: 1286px;
}

#tod_t1_1 {
  left: 616px;
  bottom: 1179px;
}

#tod_t2_1 {
  left: 676px;
  bottom: 1179px;
}

#tod_t3_1 {
  left: 780px;
  bottom: 1179px;
}

#tod_t4_1 {
  left: 93px;
  bottom: 1150px;
}

#tod_t5_1 {
  left: 303px;
  bottom: 1150px;
}

#tod_t6_1 {
  left: 619px;
  bottom: 1148px;
  letter-spacing: 0.07px;
}

#tod_t7_1 {
  left: 93px;
  bottom: 1121px;
}

#tod_t8_1 {
  left: 303px;
  bottom: 1120px;
}

#tod_t9_1 {
  left: 619px;
  bottom: 1118px;
  letter-spacing: 0.07px;
}

#tod_ta_1 {
  left: 93px;
  bottom: 1091px;
}

#tod_tb_1 {
  left: 116px;
  bottom: 1091px;
  letter-spacing: 0.01px;
  word-spacing: 0.11px;
}

#tod_tc_1 {
  left: 303px;
  bottom: 1091px;
}

#tod_td_1 {
  left: 619px;
  bottom: 1089px;
  letter-spacing: 0.07px;
}

#tod_te_1 {
  left: 93px;
  bottom: 1062px;
}

#tod_tf_1 {
  left: 116px;
  bottom: 1062px;
  letter-spacing: 0.01px;
  word-spacing: 0.11px;
}

#tod_tg_1 {
  left: 303px;
  bottom: 1062px;
}

#tod_th_1 {
  left: 619px;
  bottom: 1060px;
  letter-spacing: 0.07px;
}

#tod_ti_1 {
  left: 93px;
  bottom: 1033px;
}

#tod_tj_1 {
  left: 116px;
  bottom: 1033px;
  letter-spacing: 0.01px;
  word-spacing: 0.11px;
}

#tod_tk_1 {
  left: 303px;
  bottom: 1032px;
}

#tod_tl_1 {
  left: 619px;
  bottom: 1030px;
  letter-spacing: 0.07px;
}

#tod_tm_1 {
  left: 93px;
  bottom: 1003px;
}

#tod_tn_1 {
  left: 303px;
  bottom: 1003px;
}

#tod_to_1 {
  left: 457px;
  bottom: 1003px;
}

#tod_tp_1 {
  left: 460px;
  bottom: 1003px;
}

#tod_tq_1 {
  left: 515px;
  bottom: 1003px;
}

#tod_tr_1 {
  left: 619px;
  bottom: 1001px;
  letter-spacing: 0.07px;
}

#tod_ts_1 {
  left: 93px;
  bottom: 974px;
}

#tod_tt_1 {
  left: 303px;
  bottom: 974px;
}

#tod_tu_1 {
  left: 457px;
  bottom: 974px;
}

#tod_tv_1 {
  left: 460px;
  bottom: 974px;
}

#tod_tw_1 {
  left: 526px;
  bottom: 974px;
}

#tod_tx_1 {
  left: 619px;
  bottom: 972px;
  letter-spacing: 0.07px;
}

#tod_ty_1 {
  left: 93px;
  bottom: 945px;
}

#tod_tz_1 {
  left: 116px;
  bottom: 945px;
  letter-spacing: 0.01px;
  word-spacing: 0.11px;
}

#tod_t10_1 {
  left: 303px;
  bottom: 944px;
}

#tod_t11_1 {
  left: 619px;
  bottom: 942px;
  letter-spacing: 0.07px;
}

#tod_t12_1 {
  left: 93px;
  bottom: 915px;
}

#tod_t13_1 {
  left: 116px;
  bottom: 915px;
  letter-spacing: 0.01px;
  word-spacing: 0.11px;
}

#tod_t14_1 {
  left: 303px;
  bottom: 915px;
}

#tod_t15_1 {
  left: 314px;
  bottom: 915px;
}

#tod_t16_1 {
  left: 317px;
  bottom: 915px;
}

#tod_t17_1 {
  left: 372px;
  bottom: 915px;
}

#tod_t18_1 {
  left: 375px;
  bottom: 915px;
}

#tod_t19_1 {
  left: 619px;
  bottom: 913px;
  letter-spacing: 0.07px;
}

#tod_t1a_1 {
  left: 90px;
  bottom: 886px;
  letter-spacing: 0.1px;
}

#tod_t1b_1 {
  left: 116px;
  bottom: 886px;
  letter-spacing: 0.02px;
  word-spacing: 0.1px;
}

#tod_t1c_1 {
  left: 303px;
  bottom: 886px;
}

#tod_t1d_1 {
  left: 619px;
  bottom: 884px;
  letter-spacing: 0.07px;
}

#tod_t1e_1 {
  left: 90px;
  bottom: 857px;
  letter-spacing: 0.1px;
}

#tod_t1f_1 {
  left: 303px;
  bottom: 856px;
}

#tod_t1g_1 {
  left: 619px;
  bottom: 854px;
  letter-spacing: 0.07px;
}

#tod_t1h_1 {
  left: 90px;
  bottom: 827px;
  letter-spacing: 0.1px;
}

#tod_t1i_1 {
  left: 303px;
  bottom: 827px;
}

#tod_t1j_1 {
  left: 619px;
  bottom: 825px;
  letter-spacing: 0.07px;
}

#tod_t1k_1 {
  left: 90px;
  bottom: 798px;
  letter-spacing: 0.1px;
}

#tod_t1l_1 {
  left: 116px;
  bottom: 798px;
  letter-spacing: 0.01px;
  word-spacing: 0.11px;
}

#tod_t1m_1 {
  left: 303px;
  bottom: 798px;
}

#tod_t1n_1 {
  left: 393px;
  bottom: 798px;
}

#tod_t1o_1 {
  left: 400px;
  bottom: 798px;
}

#tod_t1p_1 {
  left: 619px;
  bottom: 796px;
  letter-spacing: 0.07px;
}

#tod_t1q_1 {
  left: 90px;
  bottom: 769px;
  letter-spacing: 0.1px;
}

#tod_t1r_1 {
  left: 116px;
  bottom: 769px;
  letter-spacing: 0.02px;
  word-spacing: 0.1px;
}

#tod_t1s_1 {
  left: 303px;
  bottom: 768px;
}

#tod_t1t_1 {
  left: 369px;
  bottom: 768px;
}

#tod_t1u_1 {
  left: 372px;
  bottom: 768px;
}

#tod_t1v_1 {
  left: 416px;
  bottom: 768px;
}

#tod_t1w_1 {
  left: 420px;
  bottom: 768px;
}

#tod_t1x_1 {
  left: 486px;
  bottom: 768px;
}

#tod_t1y_1 {
  left: 489px;
  bottom: 768px;
}

#tod_t1z_1 {
  left: 619px;
  bottom: 766px;
  letter-spacing: 0.07px;
}

#tod_t20_1 {
  left: 90px;
  bottom: 739px;
  letter-spacing: 0.1px;
}

#tod_t21_1 {
  left: 116px;
  bottom: 739px;
  letter-spacing: 0.02px;
  word-spacing: 0.1px;
}

#tod_t22_1 {
  left: 303px;
  bottom: 739px;
}

#tod_t23_1 {
  left: 619px;
  bottom: 737px;
  letter-spacing: 0.07px;
}

#tod_t24_1 {
  left: 90px;
  bottom: 710px;
  letter-spacing: 0.1px;
}

#tod_t25_1 {
  left: 303px;
  bottom: 710px;
}

#tod_t26_1 {
  left: 619px;
  bottom: 708px;
  letter-spacing: 0.07px;
}

#tod_t27_1 {
  left: 90px;
  bottom: 681px;
  letter-spacing: 0.1px;
}

#tod_t28_1 {
  left: 116px;
  bottom: 681px;
  letter-spacing: 0.01px;
  word-spacing: 0.11px;
}

#tod_t29_1 {
  left: 303px;
  bottom: 680px;
}

#tod_t2a_1 {
  left: 619px;
  bottom: 678px;
  letter-spacing: 0.07px;
}

#tod_t2b_1 {
  left: 90px;
  bottom: 651px;
  letter-spacing: 0.1px;
}

#tod_t2c_1 {
  left: 116px;
  bottom: 651px;
  letter-spacing: 0.02px;
  word-spacing: 0.1px;
}

#tod_t2d_1 {
  left: 303px;
  bottom: 651px;
}

#tod_t2e_1 {
  left: 619px;
  bottom: 649px;
  letter-spacing: 0.07px;
}

#tod_t2f_1 {
  left: 334px;
  bottom: 1180px;
}

.tod_s1 {
  font-size: 11px;
  color: #000;
  text-align: center;
}

.tod_s2 {
  font-size: 11px;
  color: #000;
}

.tod_s3 {
  font-size: 11px;
  color: #000;
  text-align: left;
}

.tod_s4 {
  font-size: 14px;
  color: #000;
  text-align: center;
}

.tod_s5 {
  font-size: 11px;
  color: #000;
}

.tod_t {
  transform-origin: bottom left;
  z-index: 2;
  position: absolute;
  white-space: pre;
  overflow: visible;
  line-height: 1.5;
}

.tod_text-container {
  white-space: pre;
}

@supports (-webkit-touch-callout: none) {
  .text-container {
    white-space: normal;
  }
}
