<% provide(:title, "#{@document.document_type_i18n}編集") %>

<%= form_with model: @document, url: users_request_order_document_path, method: :patch, local: true do |f| %>
  <div class="card-body">
    <%= render partial: "users/documents/doc_5th/form", locals: { f: f, document: @document} %>
  </div>
  
  <div class="card-footer">
    <%= f.submit '登録', class: 'btn btn-block btn-outline-dark' %>
    <%= link_to "#{@document.document_type_i18n}詳細に戻る", users_request_order_document_path, class: 'btn btn-block btn-outline-secondary' %>
  </div>
<% end %>
