<% provide(:title, '目次・チェック欄') %>

<div class="card">
  <div class="card-body">
  </div>
  <div class="card-footer">
    <%= link_to "PDF出力", users_document_table_of_contents_documents_path(format: :pdf), target: :_blank, rel: "noopener noreferrer", class: "btn btn-md btn-block btn-default" %>
  </div>
</div>
